development:
  adapter: postgresql
  encoding: unicode
  database: blogtest_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: blogtest_test
  pool: 5
  username: postgres
  password: